:root{
    --skin-color: green;
    --boder-style:5px solid black;
}
body{
    background: #333;
}
.yoshi{
    width: 600px;
    height: 400px;
   
    display: flex;
    position: relative;
}

.head{
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
}

.hair-container{
    width: 100px;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}
.hair{
    width: 50px;
    height: 50px;
    background-color: orange;
    border: var(--boder-style);
    rotate: 45deg;
    translate: -50px -40px;
}

.hair-container :nth-child(1){
    background: red;
    translate: -53px -40px;
    rotate: 20deg;
}
.hair-container :nth-child(2){
    background: red;
    translate: -55px -40px;
    
}
.hair-container :nth-child(3){
    background: red;
    translate: -83px -40px;
    rotate: -3deg;
}






.chin{
    width: 300px;
    height: 250px;
    background-image: linear-gradient(172deg,green 50%,white 80%);
    position: absolute;
    z-index: 2;
    border: var(--boder-style);
    border-radius: 50%;
    translate: 180px 50px;

}

.mouth{
    width:65px;
    height: 100px;
    background: white;
    border: var(--boder-style);
    border-radius: 50%;
    border-right: 0px;
    position: absolute;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    translate: 250px 140px;
    z-index: 3;
    rotate: 35deg;
}
.tongue{
    width:65%;
    height: 65%;
    background: red;
    border:var(--boder-style);
    border-radius: 50%;
   
}
.nose-container
{
    width: 250px;
    height: 220px;
    translate: 150px 40px;
    z-index: 5;
}
.nose{
    --size:100%;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--skin-color);
    border: var(--boder-style);
    display: flex;
    justify-content: center;
}
.holes{
    width: 50%;
    height: 20%;
    display: flex;
    translate: 0 35px;
}

.hole{
    width: 30%;
    height: 45%;
    border-top: var(--boder-style);
    border-radius: 50%;
}
.left-hole{
    rotate:30deg;
}
.right-hole{
    rotate:-15deg;
    translate: 15px 0px;
}


/*------OJOS----------*/
.eyes{
    width: 300px;
    height: 250px;
    align-self: start; 
    display: flex;
    z-index: 3;
}
.eye{
    background-color: var(--skin-color);
    width: 125px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.right-eye{
    translate: -30px 20px;
}

.retina{
    background-color: white;
    width: 80px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    translate: -9px 0px;

}
.pupila{
    background-color: black;
    width: 30px;
    height: 60px;
    border-radius: 50%;
    border: var(--boder-style);
    translate: 0px 0px;
    transition: all 0.5s;
    display: flex;
    justify-content: end;
    align-items: center;
}

.pupila:hover{
    translate: 10px 0px;
}

.shine{
    background-color: white;
    width: 15px;
    height: 30px;
    border-radius: 50%;
    border: var(--boder-style);
}

